@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");

.just_center {
  display: flex;
  justify-content: center;
}
.just_btwn {
  display: flex;
  justify-content: space-between;
}
.align_items {
  align-items: center;
  display: flex;
}

body {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    116.88deg,
    rgba(41, 171, 226, 0.225) 18.77%,
    rgba(41, 171, 226, 0.06) 79.59%
  );
  color: #585858;
}
a {
  color: #585858;
}
@media (min-width: 1460px) {
  .container {
    max-width: 1410px;
  }
}
.home > section {
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-weight: bold;
  font-size: 70px;
  line-height: 130%;
  text-align: center;
}
section {
  position: relative;
}
// first
.first_view {
  background: linear-gradient(
    161.15deg,
    rgba(41, 171, 226, 0.225) 18.77%,
    rgba(41, 171, 226, 0.06) 79.59%
  );
  background-image: url("../image/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  width: 100%;
  height: 99vh;
  .btn {
    margin-top: 40px;
  }
  .dots_bg {
    &_2 {
      top: 260px;
      right: 0;
      width: 22vw;
    }
    &_1 {
      bottom: 70px;
      left: 0;
      width: 11vw;
    }
  }
}
.title_first_view {
  font-weight: bold;
  font-size: 80px;
  line-height: 83px;
  color: #585858;
}
.first_view_text {
  margin-top: 100px;
}
.first_view_sub_title {
  max-width: 450px;
  margin-top: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}
.btn {
  width: 210px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #29abe2;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 10px 56px rgba(67, 202, 233, 0.12);
}
.first_view_img {
  position: relative;
  max-height: calc(100vh - 130px);
  overflow: hidden;
  height: 100%;
  img {
    max-height: 100%;
    margin: 0 auto;
  }
}
.btn:active,
.btn:focus,
.btn:visited {
  color: #fff;
}
.btn:hover {
  background: #39b54a;
}
.dots_bg {
  position: absolute;
  background-image: url("../../image/dots.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 183px;
  img {
    object-fit: cover;
  }
}
@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}
.plusses_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #585858;
  margin: 0 auto;
  img {
    width: 50px;
    height: 50px;
  }
}

.mouse {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  z-index: 1;
  animation: jump 1s infinite;
}

.first_view_list li {
  background-image: url("../image/check.svg");
  background-position: left top 3px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
.first_view_list li:not(:last-child) {
  margin-bottom: 17px;
}
.read_more {
  display: flex;
  align-items: center;
}
.read_more svg {
  margin-left: 11px;
}
.first_view .read_more {
  margin-top: 45px;
}
// second about

.second_view {
  background-image: url("../../image/bg2.png");
  height: 100vh;
  padding-top: 150px;
  h1 {
    margin-bottom: 50px;
    color: #fff;
  }
  .dots_bg {
    width: 200px;
    height: 180px;
    overflow: hidden;
  }
  .dots_bg_1 {
    top: 173px;
    right: 0;
  }
  .dots_bg_2 {
    bottom: 200px;
    left: 0;
  }
}

// third

.third_view {
  background-image: url("../../image/bg_3.png");
  padding-top: 155px;
  padding-bottom: 200px;
  position: relative;
  .dots_bg {
    width: 11vw;
    &_1 {
      left: 0;
      bottom: 300px;
    }
    &_2 {
      left: 0;
      top: 300px;
    }
    &_3 {
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .row {
    > div {
      margin-top: 90px;
    }
  }
  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
  }
}
.we_do_blocks {
  color: #fff;
  &:not(:first-child) {
    margin-top: 60px;
  }
}
.we_do_block_subtitle {
  color: #f7931e;
  font-weight: bold;
}
.we_do_blocks_text {
  width: calc(90% - 46px);
  p:first-child {
    font-weight: 900;
    font-size: 25px;
    line-height: 200%;
    color: #29abe2;
  }
  a {
    margin-top: 13px;
  }
  svg {
    margin-left: 18px;
  }
}
.we_do_blocks_text a {
  span {
    color: #29abe2;
  }
  path {
    fill: #29abe2;
  }
}
.we_do_blocks_number {
  background: rgba(67, 202, 233, 0.12);
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  span {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #29abe2;
  }
}

// fourth
.fourth_view {
  padding-top: 140px;
  background-image: url("../image/bg5.png");
  padding-bottom: 200px;
  h1 {
    text-align: center;
    margin-bottom: 56px;
  }
}
.plusses {
  text-align: center;
  margin-top: 80px;
  p {
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
  }
}

// fifth
.fifth_view > .container {
  flex-direction: column;
}
.fifth_view {
  padding: 150px 0 180px 0;
  background-image: url("../image/fifth_bg.png");
  background-repeat: no-repeat;
  h1 {
    color: #fff;
    margin-bottom: 30px;
  }
}

.fifth_view .dots_bg {
  width: 210px;
  top: 100px;
}
.brand_slider {
  padding: 70px 0;
  background-color: #fff;
}
.sixth_view {
  padding: 120px 0;
}
.brand_slide,
.logo_slide {
  height: 125px;
  display: flex !important;
  margin: 0 70px;
  align-items: center;
  filter: saturate(0);
  img {
    height: 100%;
  }
}
.logo_slide {
  margin: 0 40px;
  height: 105px;
}
.brand_slide.slick-current,
.slick-current .logo_slide {
  filter: saturate(1);
}
// seven
.seventh_view {
  background-image: url("../image/bg7.png");
  background-repeat: no-repeat;
  padding: 200px 0;
  .container {
    flex-direction: column;
  }
  .dots_bg {
    width: 210px;
    right: 0;
    top: 110px;
  }
  h3 {
    margin-bottom: 20px;
  }
}
h3 {
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
  color: #fff;
  text-align: center;
}

// eight
.eight_view {
  padding-top: 120px;
  padding-bottom: 145px;
  h1 {
    text-align: center;
    margin-bottom: 110px;
  }
}
.home_blog {
  display: flex;
  justify-content: space-between;
}
.home_blog_text {
  width: calc(67% - 10px);
}
.home_blog_img {
  width: calc(33% - 10px);
  position: relative;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.home_blog_title {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 5px;
}
.home_blog_autor {
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;
}
.home_blog_date {
  font-size: 14px;
  line-height: 36px;
  color: #969494;
  margin-left: 22px;
}
.home_blog_date,
.home_blog_autor {
  display: inline;
}
.home_blog_dscr {
  font-weight: 500;
  line-height: 31px;
  color: #717171;
}
.home_blog .read_more {
  margin-top: 15px;
}

.logo_slider {
  background-color: #fff;
  padding: 35px 0;
  margin-bottom: 140px;
}

// footer

footer {
  padding-top: 115px;
  padding-bottom: 35px;
  background-image: url("../../image/footer_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
footer li a,
footer li p,
.copyrights,
.terms {
  font-weight: 500;
  color: #efefef !important;
  margin-bottom: 30px;
  display: block;
}
footer p {
  font-weight: bold;
  color: #f7931e;
  margin-bottom: 40px;
}
footer li svg {
  margin-right: 30px;
}
.copyrights,
.terms {
  margin-bottom: 0;
  margin-top: 30px;
}
.copyrights {
  display: flex;
  align-items: center;
  img {
    margin-right: 35px;
  }
}

.terms {
  margin-left: 26%;
}
.menu_btn,
.close_btn {
  display: none;
}
// animation
.title_first_view > span,
h1 > span {
  position: relative;
  display: inline-block;
}
.color_change {
  position: absolute;
  background-color: #585858;
  color: #ffffff;
  top: 0%;
  left: 0;
  width: 0;
  height: 100%;
  display: block;
  overflow: hidden;
  transition: all 1s;
  white-space: nowrap;
}
.color_change_white {
  background-color: #fff;
  color: #585858;
}

// hovers
.menu a:hover,
footer a:hover,
.read_more:hover {
  color: #29abe2 !important;
}
.read_more:hover path {
  fill: #29abe2;
}
.we_do_blocks_text a:hover span {
  color: #fff;
}
.we_do_blocks_text a:hover path {
  fill: #fff;
}

/*

MEDIA

*/
@media (min-width: 1200px) and(max-height:850px) {
  .first_view_text {
    margin-top: 40px;
  }
  .title_first_view {
    font-size: 50px;
    line-height: 55px;
  }
  .first_view_sub_title {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .first_view .read_more {
    margin-top: 20px;
  }
  .logo_header {
    height: 60px;
  }
  header {
    top: 20px;
  }
  .first_view {
    padding-top: 80px;
  }
}
@media (max-width: 1800px) {
  .third_view .dots_bg,
  .fifth_view .dots_bg,
  .first_view .dots_bg_1 {
    width: 100px;
    height: 120px;
  }
  .first_view .dots_bg_2 {
    width: 13vw;
    height: 150px;
  }
  .fifth_view .dots_bg {
    top: 130px;
  }
}
@media (max-width: 1570px) {
  .third_view .dots_bg_2 {
    top: 150px;
  }
  .seventh_view .dots_bg {
    width: 100px;
    height: 120px;
    top: 150px;
  }
}
@media (max-width: 1459.9px) {
  footer li svg {
    margin-right: 15px;
  }
  h1 {
    font-size: 50px;
    line-height: 110%;
  }
  body {
    font-size: 16px;
  }
  .we_do_blocks_text p:first-child {
    font-size: 22px;
  }
  .home_blog_dscr {
    line-height: 24px;
  }
  footer li a,
  footer li p {
    margin-bottom: 15px;
  }
  .terms {
    margin-left: 17%;
  }
  .seventh_view .dots_bg {
    width: 80px;
    height: 90px;
    top: 169px;
  }
}

@media (max-width: 1199.9px) {
  .menu li:not(:last-child) {
    margin: 0;
  }
  .menu {
    justify-content: space-around;
  }
  .logo_header {
    height: 60px;
  }
  .first_view {
    height: auto;
    padding-bottom: 20px;
  }
  .title_first_view {
    font-size: 53px;
    line-height: 60px;
  }
  .first_view_text {
    margin-top: 40px;
  }
  .mouse {
    display: none;
  }
  h1 {
    font-size: 40px;
  }
  .seventh_view h3 {
    max-width: 90%;
  }
  .plusses_icon {
    width: 60px;
    height: 60px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .plusses p {
    font-size: 18px;
    margin-top: 15px;
  }
  .fourth_view {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .fifth_view,
  .eight_view {
    padding: 70px 0 90px 0;
  }
  .sixth_view {
    padding: 80px 0;
  }
  .brand_slider {
    padding: 40px;
  }
  .seventh_view {
    padding: 100px 0;
  }
  .logo_slider {
    margin-bottom: 60px;
  }
  .fifth_view .dots_bg {
    width: 80px;
    height: 80px;
    top: 60px;
  }
}
@media (max-width: 991.9px) {
  .big_img_2 {
    order: 1;
  }
  .big_img {
    img {
      margin: 0 auto;
    }
  }
  .third_view {
    padding-bottom: 100px;
  }
  h1 {
    font-size: 35px;
  }
  .eight_view h1 {
    margin-bottom: 20px;
  }
  .brand_slide,
  .logo_slide {
    height: 70px;
  }

  .home_blog {
    margin-top: 30px;
  }
}

@media (max-width: 767.9px) {
  .color_change {
    width: 100%;
    white-space: unset;
  }
  .logo_header {
    width: 40px;
  }
  footer > .container:first-child {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  footer p {
    margin-bottom: 15px;
  }
  .menu_footer {
    margin-right: 30%;
  }
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
  }
  .seventh_view h3 {
    max-width: none;
  }
  .home_blog_title {
    font-size: 20px;
  }
  .contacts_footer {
    width: 100%;
  }
}
@media (max-width: 575.9px) {
  .menu_btn {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 20px;
  }
  .close_btn {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .menu {
    position: absolute;
    flex-direction: column;
    padding: 40px 10px;
    width: 290px;
    top: 0;
    left: -100vw;
    border-radius: 10px;
    transition: all 0.4s;
    li {
      order: 2;
    }
    li:not(:last-child) {
      margin-bottom: 20px;
    }
    li:nth-child(4) {
      order: 1;
    }
  }
  .first_view {
    padding-top: 30px;
  }
  footer li svg {
    width: 20px;
  }
  .title_first_view {
    font-size: 40px;
    line-height: 45px;
  }
  .first_view_sub_title {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .third_view .row > div {
    margin-top: 40px;
  }
  h1 {
    font-size: 27px;
  }
  .home_blog {
    flex-wrap: wrap;
  }
  .home_blog_img,
  .home_blog_text {
    width: 100%;
  }
  .home_blog_img img {
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  .home_blog_text {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .eight_view {
    padding: 50px 0;
  }
  .brand_slide {
    height: 50px;
  }
  .sixth_view {
    padding: 40px 0;
  }
  .copyrights {
    font-size: 12px;
    img {
      width: 40px;
      margin-right: 15px;
    }
  }
  .terms {
    font-size: 12px;
    margin-left: 0;
  }
  footer > .container:last-child {
    flex-wrap: wrap;
  }
  .fourth_view h1 {
    margin-bottom: 20px;
  }
  .plusses {
    margin-top: 30px;
  }
  .dots_bg {
    height: 65px !important;
    width: 50px !important;
  }
}
