@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.just_center {
  display: flex;
  justify-content: center;
}
.just_btwn {
  display: flex;
  justify-content: space-between;
}
.align_items {
  align-items: center;
  display: flex;
}

body {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
  font-weight: 500;
  background: linear-gradient(
    116.88deg,
    rgba(41, 171, 226, 0.225) 18.77%,
    rgba(41, 171, 226, 0.06) 79.59%
  );
  color: #585858;
}
a {
  color: #585858;
}
@media (min-width: 1550px) {
  .container {
    max-width: 1410px;
  }
}
.home > section {
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-weight: bold;
  font-size: 70px;
  line-height: 130%;
  text-align: center;
}
section {
  position: relative;
}
// first
.first_view {
  background: linear-gradient(
    161.15deg,
    rgba(41, 171, 226, 0.225) 18.77%,
    rgba(41, 171, 226, 0.06) 79.59%
  );
  background-image: url("../image/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  width: 100%;
  height: 99vh;
  .btn {
    margin-top: 40px;
  }
  .dots_bg {
    &_2 {
      top: 260px;
      right: 0;
      width: 22vw;
    }
    &_1 {
      bottom: 22vh;
      left: 0;
      width: 11vw;
    }
  }
}
.title_first_view {
  font-weight: bold;
  font-size: 80px;
  line-height: 83px;
  color: #585858;
}
.first_view_text {
  margin-top: 120px;
}
.first_view_sub_title {
  max-width: 450px;
  margin-top: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}
.btn {
  width: 210px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #29abe2;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 10px 56px rgba(67, 202, 233, 0.12);
}
.first_view_img {
  position: relative;
  max-height: calc(100vh - 130px);
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  img {
    max-height: 100%;
  }
}
.btn:active,
.btn:focus,
.btn:visited {
  color: #fff;
}
.btn:hover {
  background: #39b54a;
}
.dots_bg {
  position: absolute;
  background-image: url("../image/dots.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 183px;
  img {
    object-fit: cover;
  }
}
@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}
.plusses_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #585858;
  margin: 0 auto;
  img {
    width: 50px;
    height: 50px;
  }
}

.mouse {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  z-index: 1;
  animation: jump 1s infinite;
}

.first_view_list li {
  background-image: url("../image/check.svg");
  background-position: left top 3px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
.first_view_list li:not(:last-child) {
  margin-bottom: 17px;
}
.read_more {
  display: flex;
  align-items: center;
}
.read_more svg {
  margin-left: 11px;
}
.first_view .read_more {
  margin-top: 45px;
}
// second about

.second_view {
  background-image: url("../../image/bg2.png");
  height: 100vh;
  padding-top: 150px;
  h1 {
    margin-bottom: 50px;
    color: #fff;
  }
  .dots_bg {
    width: 200px;
    height: 180px;
    overflow: hidden;
  }
  .dots_bg_1 {
    top: 173px;
    right: 0;
  }
  .dots_bg_2 {
    bottom: 200px;
    left: 0;
  }
}

// third

.third_view {
  background-image: url("../image/bg_3.png");
  padding-top: 155px;
  padding-bottom: 200px;
  position: relative;
  .dots_bg {
    width: 11vw;
    &_1 {
      left: 0;
      bottom: 350px;
    }
    &_2 {
      left: 0;
      top: 370px;
    }
    &_3 {
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .row {
    > div {
      margin-top: 90px;
    }
  }
  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
  }
}
.we_do_blocks {
  color: #d8d8d8;
  &:not(:first-child) {
    margin-top: 60px;
  }
}
.we_do_block_subtitle {
  color: #f7931e;
  font-weight: bold;
}
.we_do_blocks_text {
  width: calc(90% - 46px);
  p:first-child {
    font-weight: 900;
    font-size: 25px;
    line-height: 200%;
    color: #29abe2;
  }
  a {
    margin-top: 13px;
    display: block;
  }
  svg {
    margin-left: 18px;
  }
}
.we_do_blocks_text a:hover {
  span {
    color: #29abe2;
  }
  path {
    fill: #29abe2;
  }
}
.we_do_blocks_number {
  background: rgba(67, 202, 233, 0.12);
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  span {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #29abe2;
  }
}

// fourth
.fourth_view {
  padding-top: 140px;
  background-image: url("../image/bg5.png");
  padding-bottom: 200px;
  h1 {
    text-align: center;
    margin-bottom: 56px;
  }
}
.plusses {
  text-align: center;
  margin-top: 80px;
  p {
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
  }
}
.fourth_view {
  .dots_bg {
    width: 11vw;
    &_1 {
      left: 0;
    }
    &_2 {
      right: 0;
      bottom: 200px;
    }
  }
}

// fifth
.fifth_view > .container {
  flex-direction: column;
}
.fifth_view {
  padding: 150px 0 180px 0;
  background-image: url("../image/fifth_bg.png");
  background-repeat: no-repeat;
  h1 {
    color: #fff;
    margin-bottom: 30px;
  }
}

.fifth_view .dots_bg {
  width: 210px;
  top: 100px;
}
.brand_slider {
  padding: 70px 0;
  background-color: #fff;
}
.sixth_view {
  padding: 120px 0;
}
.brand_slide,
.logo_slide {
  height: 80px;
  display: flex !important;
  margin: 0 70px;
  align-items: center;
  filter: saturate(0);
  img {
    height: 100%;
  }
}
.logo_slide {
  margin: 0 40px;
  height: 105px;
}
.brand_slide.slick-current,
.slick-current .logo_slide {
  filter: saturate(1);
}
// seven
.seventh_view {
  background-image: url("../image/bg7.png");
  background-repeat: no-repeat;
  padding: 100px 0;
  .container {
    flex-direction: column;
  }
  .dots_bg {
    width: 210px;
    right: 0;
    top: 110px;
  }
  h3 {
    margin-bottom: 20px;
  }
}
h3 {
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
  color: #fff;
  text-align: center;
}

// eight
.eight_view {
  padding-top: 120px;
  padding-bottom: 145px;
  background-image: url("../image/bg8.png");
  background-size: contain !important;
  h1 {
    text-align: center;
    margin-bottom: 110px;
  }
}
.home_blog {
  display: flex;
  justify-content: space-between;
}
.home_blog_text {
  width: calc(67% - 10px);
}
.home_blog_img {
  width: calc(33% - 10px);
  position: relative;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.home_blog_title {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 5px;
}
.home_blog_autor {
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;
}
.home_blog_date {
  font-size: 14px;
  line-height: 36px;
  color: #969494;
  margin-left: 22px;
}
.home_blog_date,
.home_blog_autor {
  display: inline;
}
.home_blog_dscr {
  font-weight: 500;
  line-height: 31px;
  color: #717171;
}
.home_blog .read_more {
  margin-top: 15px;
}

.logo_slider {
  background-color: #fff;
  padding: 35px 0;
  margin-bottom: 140px;
}
.eight_view .dots_bg {
  width: 11vw;
  top: 0;
}
// footer

footer {
  padding-top: 115px;
  padding-bottom: 35px;
  background-image: url("../image/footer_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
//
//asdasdasdasdsadasd
//
footer li a,
footer li p,
.copyrights,
.terms {
  font-weight: 500;
  color: #efefef !important;
  margin-bottom: 30px;
  display: block;
}
footer p {
  font-weight: bold;
  color: #f7931e;
  margin-bottom: 40px;
}
footer li svg {
  margin-right: 30px;
}
.copyrights,
.terms {
  margin-bottom: 0;
  margin-top: 30px;
}
.terms a {
  display: block;
}
.copyrights {
  display: flex;
  align-items: center;
  img {
    margin-right: 35px;
  }
}

.terms {
  margin-left: 26%;
}
.menu_btn,
.close_btn {
  display: none;
}
// animation
.title_first_view > span,
h1 > span {
  position: relative;
  display: inline-block;
}
.color_change {
  position: absolute;
  background-color: #585858;
  color: #ffffff;
  top: 0%;
  left: 0;
  width: 0;
  height: 100%;
  display: block;
  overflow: hidden;
  transition: all 1s;
  white-space: nowrap;
}
.color_change_white {
  background-color: #fff;
  color: #585858;
}

// hovers
.menu a:hover,
footer a:hover,
.read_more:hover {
  color: #29abe2 !important;
}
.read_more:hover path {
  fill: #29abe2;
}
.plusses_icon img {
  transition: all 0.6s;
}
.plusses:hover {
  .plusses_icon {
    background-color: #29abe2;
    img {
      transform: rotate(360deg);
    }
  }
}
.menu li a {
  color: #000;
}
.drop li a {
  font-weight: 400;
}
.retrieval #type_1 {
  font-size: 56px;
}
.reporting .ret_3 {
  padding-top: 0;
}
button.btn:hover {
  background-color: #39b54a;
  color: #fff;
}

// new animation
.first_view .animation_2 {
  display: inline-block;
}
.animation_2 {
  overflow: hidden;
  height: 55px;
  justify-content: center;
  text-align: center;
  h1 {
    margin: 0;
  }
  ul {
    -webkit-animation-name: change;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    display: block;
    width: fit-content;
    margin: 0 auto;
    list-style: none;
    .text_black {
      h1 {
        color: #fff !important;
      }
    }
    .text_blue {
      h1 {
        color: #29abe2 !important;
      }
    }
  }
  li {
    line-height: 45px;
    list-style: none;
    margin: 0;
    border: none;
  }
}
@-webkit-keyframes change {
  0% {
    transform: translate3d(0, 0, 0);
  }
  40% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -50%, 0);
  }
  90% {
    transform: translate3d(0, -50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
  // 66.64%,79.3% {transform:translate3d(0,-50%,0);}
  // 83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

// @-webkit-keyframes change {
//   100% {
//     transform: translate3d(0, 0, 0);
//   }

//   50% {
//     transform: translate3d(0, -50%, 0);
//   }
// }

// @-o-keyframes change {
//   0%,
//   100% {
//     transform: translate3d(0, 0, 0);
//   }

//   50% {
//     transform: translate3d(0, -50%, 0);
//   }
// }

// @-moz-keyframes change {
//   0%,
//   100% {
//     transform: translate3d(0, 0, 0);
//   }

//   50% {
//     transform: translate3d(0, -50%, 0);
//   }
// }

// @keyframes change {
//   0%,
//   100% {
//     transform: translate3d(0, 0, 0);
//   }

//   50% {
//     transform: translate3d(0, -50%, 0);
//   }
// }
