.template {
  padding-top: 200px;
  h1 {
    margin-bottom: 50px;
  }
}
.temp_sec_1 {
  p {
    margin-bottom: 18px;
  }
}
.temp_sec_1 {
  padding-bottom: 80px;
}
.template .ret_3 {
  padding-top: 0;
}
.automation .temp_sec_1 {
  .dots_bg {
    left: 0;
    width: 11vw;
    top: 230px;
    transform: translate(0, -50%);
  }
}
.ex_img {
  margin: 70px 0;
  img {
    margin: 0 auto;
  }
}
.exchange .temp_sec_1 .dots_bg {
  width: 11vw;
  &_1 {
    left: 0;
    top: 30%;
  }
  &_2 {
    right: 0;
    top: 0;
  }
}
.template .fifth_view .dots_bg {
  width: 11vw;
  left: 0;
  top: 130px;
}
.template .animation_2 {
  margin-bottom: 55px;
}
