.template {
  padding-top: 200px;
  h1 {
    margin-bottom: 50px;
  }
}
.temp_sec_1 {
  p {
    margin-bottom: 18px;
  }
}
.temp_sec_1 {
  padding-bottom: 80px;
}
.template .ret_3 {
  padding-top: 0;
}
.automation .temp_sec_1 {
  padding-bottom: 30px;
  .dots_bg {
    right: 0;
    width: 11vw;
    top: 50%;
    transform: translate(0, -50%);
  }
}
